.App {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    /* background-color: yellow; */
    color: white;
    height: 100%;
    width: 100%;
}

.App>.Header {
    background-color: #25316D;
    grid-column: span 12;
    grid-row: span 1;
}

.App>.Menu {
    background-color: #5F6F94;
    grid-column: span 2;
    grid-row: span 10;
}


.App>.Main {
    background-color: #97D2EC;
    grid-column: span 10;
    grid-row: span 10;
    color: #25316D
}


.App>.Footer {
    background-color: #FEF5AC;
    grid-column: span 12;
    grid-row: span 1;
    color: black;
}