:root {
    --blue: #1e90ff;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fc {
    color: teal;
    font-size: large;
    font-weight: 900;
}

.cc {
    color: tomato;
    font-size: large;
    font-weight: 900;
}

.box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: gray;
    border: 3px solid royalblue;
}


.card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(215, 200, 200);
    border: 3px dashed darkblue;
    margin: 10px;
    width: 150px;
    height: 250px;
}